<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Come on Over</key>
	<string>Come on Over — третий студийный альбом Шанайи Твейн выпущен 4 ноября 1997 года. Будучи самым продаваемым альбомом в стиле кантри, он стал дважды бриллиантовым в США и Канаде, 15-кратно платиновым в Австралии и 10-кратно платиновым в Великобритании. Было выпущено 12 синглов, среди которых 11 попали в лучшую десятку в Канаде.</string>
	<key>Jagged Little Pill</key>
	<string>Jagged Little Pill — третий студийный и первый интернациональный альбом канадской певицы Аланис Мориссетт. Он сильно отличался от двух предыдущих альбомов Мориссетт, выпущенных в Канаде, — Alanis и Now Is the Time. Название диска — строки из песни «You Learn». Альбом считается прорывом Мориссетт, он стал самым продаваемым диском 1996 года.</string>
	<key>Falling into You</key>
	<string>Falling into You является одной из крупнейших музыкальных удач певицы (он получил 4 балла на All Music Guide) и демонстрирует разнообразие исполняемого певицей материала (среди которого есть кавер на песню Тины Тёрнер, баллады, эксперименты с софт-роком и использованием перкуссионных инструментов).</string>
	<key>Spiceworld</key>
	<string>Spiceworld — второй студийный альбом британской поп-группы Spice Girls, выпущен 1 ноября 1997 года на лейбле Virgin Records. Альбом получил большой коммерческий успех: в США было продано более 4,4 млн копий и более 20 млн во всем мире. В состав альбома вошло три сингла, которые возглавляли UK Singles Chart: «Spice Up Your Life», «Too Much» и «Viva Forever».</string>
</dict>
</plist>
